body{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red ;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  margin-left: 25%;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.btn {
  justify-content: center;
  width: 80%;
  margin-left: 25%;
}
p{
  font-size: 18px;
  font-weight: 600;
  color:#83a4d4;
}
.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
}
